!!! 5
%html
  %head
    %title= @title.present? ? "#{@title} | Opera of the Future at MIT Media Lab" : "Opera of the Future at MIT Media Lab"
    %link{href: 'https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,600', rel: 'stylesheet', type: 'text/css'}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{id: params[:controller] + '_' + params[:action]}
    %header.container#header
      = image_tag 'logo.png', id: 'nav_logo'
      %span#name Opera of the Future
      %ul#nav
        %li= link_to 'Homepage', root_path
        %li= link_to 'Projects', projects_path
        %li= link_to 'People', '#'
        %li= link_to 'Publications', '#'
        %li= link_to 'Admissions', '#'
    = yield
    %footer.container
      %p Opera of the Future at MIT Media Lab
